GRPC_ADDR=:50053

POSTGRES_HOST=db-analytics
POSTGRES_INTERNAL_PORT=5432
POSTGRES_USER=analytics
POSTGRES_PASSWORD=analytics_password
POSTGRES_DB=analytics
POSTGRES_SSL_MODE=disable

KAFKA_BROKERS=kafka:9092
KAFKA_TOPICS=auth.events,user.events
KAFKA_GROUP_ID=analytics-service
KAFKA_MIN_BYTES=1
KAFKA_MAX_BYTES=10000000

MIGRATIONS_DIR=migrations
SHUTDOWN_TIMEOUT_SECONDS=15
